@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import './base/reset';
@import './abstracts/variables';
@import './components/buttons';
@import './components/inputs';
@import './components/selects';
@import './components/modal';
@import './layout/categories';
@import './layout/operation';
@import './layout/total';
@import './layout/header';

.page {
    background-color: $purple-background;
    font-family: Quicksand !important;
    color: $pink;
}

.blue-theme {
    background-color: $blue-background;
    color: $purple;
}

.title {
    font-size: 40px;
}

.section {
    margin: 0 auto;
    max-width: 920px;
    margin-top: 80px;
    text-align: center;
}


