@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import './base/reset';
@import './abstracts/variables';
@import './components/buttons';
@import './components/inputs';
@import './layout/categories';

* {
    font-family: Quicksand !important
}

.title {
    font-size: 40px;
    color: $black;
}

.section {
    margin: 0 auto;
    max-width: 920px;
    padding-top: 100px;
    text-align: center;
}


