.categories {
    background-color: $purple-background;
    color: $pink;
}

.categories__title {
    margin-bottom: 25px;
    color: $pink;

}

.categories__enter-name {
    width: 30%;
    padding-left: 10px;
}

.categories__wrapper {
    margin-top: 25px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories__item {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 70%;
}