.total {
    border-collapse: separate;
  border-spacing: 0 15px;
    
    
    &__cell {
        padding: 5px;
        border-top: 1px solid $pink;
        border-bottom: 1px solid $pink;
    }

    tr {
        padding: 10px;
    }
}

