.input {
    color: $pink;
    border: 1px solid $pink;
    background-color: $purple-background;

    &::placeholder {
        color: $pink;
    }

    &::-webkit-calendar-picker-indicator {
        background-color: $light-pink;
    }
    
    &--blue-theme {
        color: $purple;
        background-color: $blue-background;
        border: 1px solid $blue;

        &::placeholder {
            color: $purple;
        }

        &::-webkit-calendar-picker-indicator {
            background-color: $light-blue;
        }
    }
}
