.input {
    color: $black;
    border: 1px solid $pink;
    background-color: $purple-background;

    &::placeholder {
        color: $black;
    }

    &::-webkit-calendar-picker-indicator {
        background-color: $light-pink;
    }
}