.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100%;
    // height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(27, 27, 27, 0.938);

    &--hidden {
        display: none;
    }

    &__form {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }
}
