.select {
    color: $pink;
    border: 1px solid $pink;
    background-color: $purple-background;

    &--blue-theme {
        color: $purple;
        border: 1px solid $blue;
        background-color: $blue-background;
    }
}